{% extends 'news/base.html' %}
{% load static %}

{% block title %}Reset user password{% endblock title %}

{% block content %}
<h1>Parolni tiklash</h1>
<p>To change your password, fill out the form below</p>
{% if validlink %}

<p>Please enter the new password twice</p>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Change password</button> </p>
</form>
{% else %}
<p>You have used the wrong link, you may have used it before and it may have expired</p>
{% endif %}


{% endblock content %}
